<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Whatsapp</title>
    
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
        
                <h2>All Chats!</h2>

            <!-- create new chat -->
   <form method="GET" action="/chats/new">  
     <button>Create New Chat    </button>
   </form>
   <br><br>

                <% for(let chat of chats){ %>
                   <div class="chat">       
                        <strong>From:<%= chat.from %>:</strong> 
                        
                       <div class="message">
                        <strong>Message:<%= chat.message %></strong>

                       </div>
                      
                        <strong>To:<%= chat.to %></strong> </br>
                         <strong>Date:<%= chat.createdAt.toString().split(" ")[4] %>   </strong>
                         </br>
                         <strong>Date:<%= chat.createdAt.toString().split(" ").slice(0,4).join("-") %>   </strong>
                        <!-- delete the chat -->
                        <strong>
                          <form method="GET" action="/chats/<%= chat._id %>/del">
                            <button type="submit">delete</button>
                        </form>

                        </strong>
                        
                    </br>
                        <strong> <form method="GET" action="/chats/<%= chat._id %>/edit">
                            <button type="submit">edit message</button>
                        </form>
                    </strong>

                    </div>
                    <br><br>
                   
                <% }; %>
             
            
   
</body>

</html>